@page "/access-denied"

<PageTitle>Access Denied</PageTitle>

<div class="alert alert-warning">
    <h4>Access Denied</h4>
    <p>You are signed in but do not have permission to access this page.</p>
    <a href="/" class="btn btn-primary">Back to Search</a>
</div>
